body{
	height: 5000px;
	/* 由于版心外的定位的广告超出了
	   body,所以出现横向滚动条
	 */
	/* overflow-x 水平隐藏
	   overflow-y 垂直隐藏
	 */
	overflow-x: hidden;
}

.header-wrap{
	background-color: #eaeaea;
	height: 30px;
}

.header{
	width: 1200px;
	height: 30px;
	/* background-color: pink; */
	margin: 0 auto;
	line-height: 30px;
}

.header .list-left{
	float: left;
}

.header .list-left li{
	float: left;
}

.header .list-left li a{
	display: block;
}

.header .list-left .line{
	float: left;
	width: 1px;
	height: 16px;
	background-color: #b3aeae;
	margin-top: 7px;
	margin-right: 5px;
}

.header .list-right {
	float: right;
}
.header .list-right li{
	float: left;
	padding:0 5px;
	background-color: pink;

}
.header .list-right li a i{
	margin-right: 5px;
	float: left;
}
.header .list-right li a span{
	float: left;
}
.header .list-right li em{
	float: left;
	margin-left: 7px;
}

.logoAndSearch{
	width: 1200px;
	height: 106px;
	/* background-color: pink; */
	margin: 0 auto;
}

.logoAndSearch .logo{
	float: left;
	margin: 25px 0 0 45px;
	height: 56px;
	/* width: 175px; */
}

.logoAndSearch .logo a{
	background: url(../img/Logo.png) no-repeat 0 0;
	width: 175px;
	height: 56px;
	display: block;
	text-indent: -9999px;
}

.logoAndSearch-center{
	width: 560px;
	height: 90px;
	/* background-color: yellow; */
	margin: 10px 0 0 35px;
	float: left;
}

.logoAndSearch-center .baby li{
	float: left;
	width: 36px;
	height: 22px;
	color: #ea4a36;
	line-height: 22px;
	/* 鼠标移入会变成小手 */
	cursor: pointer;
	text-align: center;
}

.logoAndSearch-center .baby li:hover{
	background-color: #FFEEE5;
}

.logoAndSearch-center .baby .current{
	font-weight: 700;
	background: #ea4a36 !important;
	color: #fff;
	position: relative;
}
.logoAndSearch-center .baby .current img{
	position: absolute;
	left: 20px;
	top: -18px;
}

.logoAndSearch-center .sub .txt{
	width: 477px;
	height: 28px;
	border: 2px solid #ea4a36;
	padding-left: 10px;
	border-right: none;
	float: left;
	border-radius: 15px 0 0 15px;
}

.logoAndSearch-center .sub .btn{
	color: #fff;
	background-color: #ea4a36;
	width: 70px;
	height: 32px;
	float: left;
	border-radius: 0 15px 15px 0;
}

.logoAndSearch-center .shopping li{
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}

.all-wrap{
	height: 45px;
	border-bottom: 2px solid #ea4a36;
}

.all-wrap .all{
	height: 45px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	/* background-color: pink; */
} 
.all-wrap .all .man{
	width: 360px;
	height: 800px;
	background: url(../img/man.png) no-repeat 0 0;
	position: absolute;
	left: -360px;
	top: 0;
}
.all-wrap .all .woman{
	width: 360px;
	height: 800px;
	background: url(../img/woman.png) no-repeat 0 0;
	position: absolute;
	left: 1200px;
	top: 0;
}

.all-wrap .all h2{
	float: left;
	width: 210px;
	height: 45px;
	background: #ea4a36;
	font-size: 14px;
	text-align: center;
	line-height: 45px;
	font-weight: 700;
	color: #fff;
}

.all-wrap .all ul {
	float: left;
}

.all-wrap .all ul li{
	float: left;
}

.all-wrap .all ul li a{
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	margin: 0 23px;
}

.main{
	width: 1200px;
	height: 461px;
	/* background-color: yellow; */
	margin: 0 auto;
}

.main .detail{
	width: 210px;
	height: 461px;
	background-color: #fafafa;
	float: left;
}

.main .detail ul li{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 20px;
	overflow: hidden;
}

.main .detail ul li:hover{
	background-color: lightgray;
}
.main .detail ul li a:hover{
	text-decoration: underline;
}
.main .banner{
	width: 730px;
	height: 454px;
	float: left;
	margin: 5px 0 0 5px;
	position: relative;
}
.main .banner>span{
	width: 20px;
	height: 30px;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	border-radius: 0 15px 15px 0;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	margin: auto 0;
	display: none;
	cursor: pointer;
}
.main .banner .rightBtn{
	left: auto;
	right: 0;
	border-radius: 15px 0 0 15px;
}
.main .banner:hover span{
	display: block;
}
.main .banner>ol{
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 15px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}
.main .banner ol li{
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin: 3px;
	margin-bottom: 2px;
}
.main .banner ol .current{
	background-color: orangered;
}
.main .banner ol li:hover{
	background-color: orangered;
}
.main .quick{
	width: 250px;
	height: 455px;
	float: right;
	margin-top: 5px;
	/* background-color: skyblue; */
}
.main .quick .quick-top{
	width: 248px;
	height: 373px;
	border: 1px solid #e4e4e4;
}
.main .quick .quick-top .tit{
	height: 37px;
	border-bottom: 1px solid #e4e4e4;
	margin: 0 5px;
}
.main .quick .quick-top .list{
	height: 140px;
	border-bottom: 1px solid #e4e4e4;
}
.main .quick .quick-top .service{
	background: url(../img/home/icons.png) no-repeat;
}
.main .quick .quick-top .service li{
	float: left;
	width: 61px;
	height: 64px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.main .quick .quick-top .service li a{
	display: block;
	height: 100%;
}

.main .quick .quick-top .service .width62{
	width: 62px;
	border-right: none;
}

.phone{
	width: 1200px;
	height: 330px;
	/* background-color: pink; */
	margin: 0 auto;
}

.phone .box{
	width: 269px;
	height: 328px;
	border: 1px solid #e1251b;
	float: left;
	margin-right: 24px;
}

.phone .box a{
	display: block;
	text-decoration: none;
}

.phone .box a .top{
	height: 233px;
	background: #fff;
	overflow: hidden;
}

.phone .box a .top img{
	margin: 11px auto 0;
}

.phone .box a p{
	font-size: 12px;
	line-height: 28px;
	color: #333;
	margin-left: 10px;
}

.phone .box a h3{
	font-size: 20px;
	font-weight: 400;
	color: #e1251b;
	padding-left: 10px;
}

.phone .box a:hover p{
	text-decoration: underline;
	color: yellowgreen;
}

.menu{
	width: 1200px;
	height: 340px;
	background-color: gray;
	margin: 0 auto;
	margin-top: 10px;
}

.menu .top3,.menu .ticket {
	height: 340px;
	width: 290px;
	border: 1px solid blue;
	background-color: #fff;
	margin-left: 200px;
	float: left;
}

.menu .top3 .top,.menu .ticket .top{
	margin: 13px 0 0 19px;
}

.menu .top3 .top h4,.menu .ticket .top h4{
	font-size: 24px;
	font-weight: 700;
	color: rgb(51, 51, 51);
	float: left;
}

.menu .top3 .top span,.menu .ticket .top span{
	width: 14px;
	height: 14px;
	border: 1px solid #e8554d;
	border-radius: 50%;
	float: left;
	margin: 8px 0 0 10px;
}

.menu .top3 .center li{
	float: left;
	margin-right: 8px;
	margin-top: 10px;
}

.menu .top3 .center li a{
	display: block;
	width: 62px;
	height: 20px;
	line-height: 20px;
	background-color: #f6f6f6;
	text-align: center;
	border-radius: 10px;
	/* 强制不换行 */
	white-space: nowrap;
	overflow: hidden;
	/* 将隐藏部分用省略号表示 */
	text-overflow: ellipsis;
}

.menu .top3 .center li:hover a{
	background-color: #e1251b;
	color: #fff;
}

.menu .top3 .center .current{
	background-color: #e1251b;
	color: #fff;
}

.menu .top3 .bottom li {
	height: 70px;
	/* background-color: pink; */
	margin-bottom: 10px;
	padding: 0 15px;
}

.menu .top3 .bottom li a{
	display: block;
	height: 70px;
	/* background-color: yellow; */
}

.menu .top3 .bottom li a img{
	float: left;
}

.menu .top3 .bottom li a p{
	float: right;
	width: 140px;
	height: 36px;
	overflow: hidden;
	line-height: 18px;
	font-size: 14px;
	margin-top: 17px;
}

.menu .top3 .bottom li a .img01{
	margin-top: 15px;
	margin-right: 12px;
}

.menu .top3 .bottom li a .img02{
	margin-top: ;
}

.menu .ticket .last{
	width: 290px;
	height: 280px;
	background: url(../img/bg.png) no-repeat 0 0;
	margin-top: 16px;
}

.menu .ticket .last ul li{
	padding: 0 15px;
}

.menu .ticket .last ul li a{
	display: block;
	height: 82px;
}

.menu .ticket .last ul li a .circal{
	width: 66px;
	height: 66px;
	background: #fff url(../img/shop.webp) no-repeat center center;
	border-radius: 50%;
	margin: 8px 0 0 7px;
	float: left;
}

.menu .ticket .last ul li a .description{
	float: left;
	margin-left: 7px;
}

.menu .ticket .last ul li a .money{
	color: #e33333;
}

.menu .ticket .last ul li a .money i{
	font-size: 14px;
	font-family: arial, sans-serif;
}

.menu .ticket .last ul li a .money span{
	font-size: 28px;
	font-family: impact,sans-serif;
}

.menu .ticket .last ul li a .nine{
	color: #999;
}

.menu .ticket .last ul li a .buy{
	color:#333;
	margin-top: 6px;
}

.menu .ticket .last ul li a h4 {
	float: left;
	width: 12px;
	line-height: 15px;
	margin-top: 13px;
	margin-left: 27px;
	color: #666;
}

.menu .ticket .last ul li a em{
	float: left;
	color: #666;
	margin-top: 33px;
	margin-left: 9px;
}

.menu .ticket .last ul li{
	margin-bottom: 6px;
}

.advLeftBottom{
	width: 360px;
	height: 570px;
	background: url(../img/qiuLeft.png) no-repeat 0 0;
	position: fixed;
	left: 50%;
	margin-left: -960px;
	bottom: 0;
	z-index: -1;
}
.advRightBottom{
	width: 360px;
	height: 570px;
	background: url(../img/qiuRight.png) no-repeat 0 0;
	position: fixed;
	left: 50%;
	margin-left: 600px;
	bottom: 0;
	z-index: -1;
}